body {
  margin: 0;
  background-color: #f1e9e9;
}

.navbar {
  overflow: hidden;
  background-color: #4d636f;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background: white;
  color: black;
}

.body {
  padding: 18px;
  margin-top: 35px;
  height: 2000px;
}
span {
  padding-left: 11px;
  font-size: 20px;
}
